<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->

<nav class="navbar navbar-light">
  <a class="navbar-brand">ROCKHOPPER</a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home-component">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/penguin-component">Penguin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signin-component">Sign in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/404">404</a>
    </li>
  </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>